@inherits LayoutComponentBase
@layout AccountLayout

<div class="container">
    <section id="account-details">
        <aside>
            <Frontend.Components.Section.ProfileAccAvatar/>
            <ManageNavMenu />
        </aside>
        <div class="details">
			@Body
        </div>

    </section>
</div>

